@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Rubik:wght@400;500;700&display=swap");

:root {
    --color-primary-200: hsla(12, 88%, 59%, 1);
    --color-primary-700: rgb(221, 58, 80);
    --color-primary-800: hsla(228, 39%, 23%, 1);
    --color-neutral-100: hsla(0, 0%, 98%, 1);
    --color-neutral-200: hsla(13, 100%, 96%, 1);
    --color-neutral-500: hsla(227, 12%, 61%, 1);
    --color-neutral-900: hsla(233, 12%, 13%, 1);
  
    --font-family: "Be Vietnam Pro", sans-serif;
    --font-size: 24px;
    --font-color-body: var(--color-neutral-500);
    --font-color-title: var(--color-primary-800);
    --font-weight-light: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
}

@layer base{
    body{
        background-color: var(--color-neutral-100); 
        color: var(--font-color-body);
        font-family: var(--font-family);
        font-weight: var(--font-weight-medium);
        line-height: 1.7;       
    }
    
    #cta {
        background-image: url(/img/bg-simplify-section-desktop.svg);
        background-repeat: no-repeat;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: var(--font-color-title);
        font-weight: var(--font-weight-bold);
        letter-spacing: -1px;
        line-height: 1.25;
    }  
    
    a {
        color: inherit;
        font: inherit;
        font-weight: 600;
        text-decoration: none;
    }
}

@layer components{
    .wrapper {
        background-image: url(/img/bg-tablet-pattern.svg), url(/img/bg-tablet-pattern.svg);
        background-repeat: no-repeat;
    }
}

/* Hamburger Menu*/
.hamburger{
    cursor: pointer;
    width:24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #000;
    transform: rotate(0);
    transition: all 0.5s ;
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

.open{
    transform: rotate(90deg);
    transform: translateY(0px);
}

.open .hamburger-top{
    transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom{
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}